<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
<link href='http://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.21.0/L.Control.Locate.css' rel='stylesheet' />

<title><%= title %></title>
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
	<h1><%= h1 %></h1>

	<div id='map'></div>

<script>

	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position){
		  	var lat = position.coords.latitude;
		  	var lng = position.coords.longitude;
			var alt = position.coords.altitude;

			var coor = {lat : lat, lng : lng, alt : alt};

			var map = L.mapbox.map('map', 'jonathanetaix.h37glao7')
				.setView([coor.lat, coor.lng], 15);
				//L.control.locate().addTo(map);
			var geoJson = {
			    type: 'FeatureCollection',
			    features: [{
			        type: 'Feature',
			        properties: {
			            title: 'Jonathan Etaix',
			            
			        },
			        geometry: {
			            type: 'Point',
			            coordinates: [coor.lng, coor.lat]
			        }
			    },
			    {
			        type: 'Feature',
			        properties: {
			            title: 'Baltimore, MD',
			        },
			        geometry: {
			            type: 'Point',
			            coordinates: [-76.60767, 39.28755]
			        }
			    }]
			};

			map.markerLayer.setGeoJSON(geoJson);
			map.markerLayer.on('mouseover', function(e) {

			    e.layer.openPopup();
			    console.log(e.latlng.lat + '-' + e.latlng.lng);
			});
			map.markerLayer.on('mouseout', function(e) {
			    e.layer.closePopup();
			});
		});
	} else {
		alert('error');
	}

</script>

</body>
</html>